nav{
    background-color: burlywood;
    color: white;
    float: center;
    padding: 1em;
    font-family: Arial;
}

h1{
    background-color: beige;
    color: black;
    padding: 1em;
    font-family: Verdana;
}
p{
    background-color: beige;
    color: black;
    padding: 1em;
    font-family: Arial;
}

body{
    background-color: beige;
}